.about_us_title{
	width:936px;
	margin:0 auto;
}
.title{
		font-family: "宋体";
		font-size:30px;
		margin-top: 70px;
	}
.center p{
	width:936px;
	margin:45px auto;
	line-height: 50px;
	text-indent: 2em;
	letter-spacing: 1px;
	font-size:22px;
	color:rgb(100,100,100);
}