.article{padding:34px 198px;}
.title{font-size:44px;letter-spacing:3px;font-weight:bold;line-height:80px;}
.note{font-size: 24px;color:#696767;line-height:56px;}
.content{text-indent:2em;line-height:45px;letter-spacing:2px;font-weight:lighter;font-size:24px;}
.abstract{text-indent:0;margin-top:38px;margin-bottom:26px;}
.article img{display:block;margin:8px auto;}
.topic{font-size:24px;line-height:48px;}
#top{height:204px;background:url(../images/images/article_banner_02.gif);}
