#top{background:url(../images/images/contact_banner_01.gif);}
.contact_message{margin:0 36px;}
.map{height:422px;margin:40px 36px;}
.center{background-color:rgb(241,243,246) !important;border:1px rgb(241,243,246) solid;}
.contact_message h3{
	font-size: 30px;
	line-height: 98px;
	font-weight: normal;
	margin-bottom:0px;
}

.contact_message span{
	display:block;
	line-height: 52px;
	font-size: 26px;
	font-weight:lighter;
}