* {padding: 0;margin: 0;}
body {background: #f3f3f3;}
.Box {position: relative;}
.Box #bg_left{position:absolute;top:0;left:0;height:162px;z-index:-1;}
.Box #bg_right{position:absolute;top:0;right:0;height:162px;z-index:-1;}
.Box .content {width: 936px;margin: 0 auto;}
.Box h2 {text-align: center;margin-bottom: 35px;padding-top: 250px;}
.Box .Box_con {position: relative;}
.Box .Box_con .btnl {position: absolute;}
.Box .Box_con .btn {display: block;width: 41px;height: 41px;position: absolute;top: 80px;cursor: pointer;z-index:3;}
.Box .Box_con .btnl {background: url(../images/images/about_button_prev.png) no-repeat center;}
.Box .Box_con .btnr {background: url(../images/images/about_button_next.png) no-repeat center;right:0;}
.Box .Box_con .btnl:hover {background: url(../images/images/about_button_prev.png) no-repeat center;}
.Box .Box_con .btnr:hover {background: url(../images/images/about_button_prev.png) no-repeat center;}
.Box .Box_con .conbox {position: relative;overflow: hidden;}
.Box .Box_con .conbox ul {position: relative;list-style: none;width:936px;}
.Box .Box_con .conbox ul li {float: left;width: 285px;height: 162px;overflow: hidden;}
.Box .Box_con .conbox ul li:first-child {margin-left: 0;}
.Box .Box_con .conbox ul li img {display: block;width: 285px;height: 162px;transition: all 0.5s;}
.Box .Box_con .conbox ul li:hover img {transform: scale(1.1);}

.Box .BoxSwitch {margin-top: 30px;text-align: center;}
.Box .BoxSwitch span {display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;width: 30px;height: 3px;background: #ccc;margin: 0 5px;cursor: pointer;}
.Box .BoxSwitch span.cur {background: red;}