a{text-decoration: none;color:black;}
*{margin:0;padding:0;list-style: none;font-family:PingFang;}
body{margin:0 auto;height:100%;}
html{height:100%;}
@font-face{
	 font-family:PingFang;
    src:url('./PingFang.ttf');  
}
.clear{clear:both;}

#top{width:100%;height:560px;background:url(../images/images/banner_01.gif) no-repeat;background-size:100% auto;position:relative;}
#top img{margin-left:33px;margin-top:32px;}
#main_navigation{margin-top: 75px;margin-right: 35px;display:inline-block;position: absolute;right:0;}
#main_navigation li{float: right;margin-left:70px;height:52px;}
#main_navigation .li_1{background: url(../images/images/mouseover_bg_03.gif) no-repeat;background-position:center 44px;}
#main_navigation a{color:white;font-size: 24px;line-height: 29px;}
#top div{font-size: 38px;color:white;position:absolute;bottom:60px;padding-left:32px; }

#bottom{width:100%;height:443px;background-color:rgb(24,24,25);border-top:1px white solid;position: relative;}

#leave_message{margin-top:74px;margin-left:33px;width:294px;float: left;}

#leave_message span{font-family:"";font-size: 24px;color: white;}
form{margin-top:42px;}

#bottom p{background-color:rgb(60,60,60);display: inline-block;margin-bottom: 36px;}
label{color: white;font-size: 18px;margin-left: 8px;}
.user_name , .telephone_number{width:134px;height:41px;}

.user_name input ,.telephone_number input{height:41px;width: 80px;}
.user_name{margin-right: 20px;}

.email{height:41px;width: 291px;}
.email input{height:41px;}
.message{width:197px;height:85px;padding-top: 3px;}
.message textarea{width:190px;height:50px;color: white;font-size: 16px;margin-left: 7px;}
.sub_message{height:85px;width:75px;margin-left:14px;position:relative;bottom: 23px;font-size:20px;}
input ,textarea{border: none;background-color:rgb(60,60,60);margin-right: 3px;color: white;font-size: 16px;}

#bottom ul{float:left;margin-top: 146px;margin-left: 60px;font-size: 16px;font-family: PingFang;line-height: 24px;color:white;}
#bottom ul a{font-size: 16px;font-family: PingFang;line-height: 30px;color:white;}
#bottom img{position: absolute;right: 28px;top:146px;}

#susppend{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	z-index:5;
	opacity:0.7;
}
#susppend h3{font-size:40px;color:white;}
