#top{background: url(../images/images/new_banner_01.gif);}
.center{background-color:rgb(241,243,246) !important;}
.new_navigation{
	position: relative;
	margin:50px 0;
	height:40px;
}

.new_navigation a:hover{text-decoration:underline;}
.new_navigation li{
	float: left;
	cursor:default;
	font-size: 30px;
}
.trend_title{position: absolute;top:0;left:38%;}
.counterpart_title{position: absolute;top:0;right:38%;}

#peer_new{display: none;}
#trend_new{display: block;}
#peer_new,#trend_new{margin:0 auto;width:990px;height:600px;overflow: hidden;}

#trend_new img , #peer_new img{width:342px;height:231px;}
#trend_new a:hover , #peer_new a:hover{text-decoration:underline;}
#trend_new ul{overflow-y:auto;overflow-x:hidden;width:102%;height:100%;padding-right:35px;  }
#trend_new li{
	border:1px rgb(229,229,229) solid;
	padding: 32px 14px;
	margin-bottom:30px;
	background-color: white;
}
#trend_new li div{width:600px;float: right;}
#trend_new li h1{font-size: 36px;font-weight: 500;}
#trend_new li span{font-size: 24px;line-height: 68px;}
#trend_new li p{color:#69696a;font-size:18px;line-height: 36px;}


#peer_new ul{overflow-y:auto;overflow-x:hidden;width:102%;height:100%;padding-right:35px;  }
#peer_new li{
	border:1px rgb(229,229,229) solid;
	padding: 32px 14px;
	background-color: white;
	margin-bottom: 30px;
}
#peer_new li div{width:600px;float: right;}
#peer_new li h1{font-family: PingFang;font-size: 36px;font-weight: 500;}
#peer_new li span{font-size: 24px;line-height: 68px;}
#peer_new li p{color:#69696a;font-size:18px;font-family:PingFang;line-height: 36px;}