* { margin: 0; padding: 0; }
img { border: 0; vertical-align: top; }
ul, li { list-style: none; }

.shutter {
  overflow: hidden;
  width: 1208px !important;
  position: relative;
  margin: 142px auto;
  height: 382px;
}
.shutter-img {
  z-index: 1;
}
.shutter-img,
.shutter-img a {
  position: absolute;
  left: 0;
  top: 0;
  width: 1208px;
}
.shutter-img a {
  cursor: default;
}
.shutter-img a > img {
  width: 883px;
  height: 382px;
  margin-right: 114px;
  margin-left: 211px;
}
.shutter-img .created {
  overflow: hidden;
  position: absolute;
  z-index: 20;
}
.shutter-btn {

}
.shutter-btn li {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -25px;
  cursor: pointer;
}
.shutter-btn .prev {
  left: 0px;
  background: url(../images/images/button_left_14.gif) no-repeat;
}
.shutter-btn .next {
  right: 0px;
  background: url(../images/images/button_right_17.gif) no-repeat;
}
.shutter-desc {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background: url(../images/shutter_shadow.png) repeat;
}
.shutter-desc p {
  padding-left: 20px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
}